*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Navbar */
.navbar {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar img {
  width: 80px;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondary-color);
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-toggle:hover {
  color: var(--secondary-color);
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbar .mobile-menu-items.active {
  transform: translateY(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

/* Media Queries */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .main-menu-items {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }
}

@media (max-width: 576px) {
}
